################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project-Gunslayah/packages/CSCore.1.2.1.1
